<div class="navbar">
<div class="navbar-logo">
</div>
<div class="navbar-top">
  <ul class="list-item">
    <li>
      <div class="icon-item"><mat-icon> account_box </mat-icon></div>
      <span class="content-item">Cá nhân</span>
    </li>

    <li>
      <div class="icon-item"><mat-icon> donut_large </mat-icon></div>
      <span class="content-item">Khám phá</span>
    </li>

    <li>
      <div class="icon-item"><mat-icon> score </mat-icon></div>
      <span class="content-item">#zingchart</span>
    </li>

    <li>
      <div class="icon-item"><mat-icon> perm_camera_mic </mat-icon></div>
      <span class="content-item">Radio</span>
      <div class="badge-icon"></div>
    </li>
    <li>
      <div class="icon-item"><mat-icon> picture_in_picture </mat-icon></div>
      <span class="content-item">Theo dõi</span>
    </li>
  </ul>
</div>

<div class="div-line"></div>

<div class="navbar-between" [ngStyle]="{'height.px': cusHeight}">
  <ul class="list-item">
    <li>
      <div class="icon-item"><mat-icon> music_note </mat-icon></div>
      <span class="content-item">Nhạc mới</span>
    </li>

    <li>
      <div class="icon-item"><mat-icon> ballot </mat-icon></div>
      <span class="content-item">Thể loại</span>
    </li>

    <li>
      <div class="icon-item"><mat-icon> money </mat-icon></div>
      <span class="content-item">Top 100</span>
    </li>

    <li>
      <div class="icon-item"><mat-icon> local_movies </mat-icon></div>
      <span class="content-item">MV</span>
    </li>

    <li class="special">
      <div class="login">
        <div class="content-item">
          Đăng nhập để khám phá playlist dành riêng cho bạn
        </div>
        <button class="btn-login">ĐĂNG NHẬP</button>
      </div>
    </li>
    <li class="special">
      <div class="upgrade-vip">
        <div class="content-item">
          Nghe nhạc không quảng cáo cùng kho nhạc VIP
        </div>
        <button class="btn-upgrade">NÂNG CẤP VIP</button>
      </div>
    </li>
  </ul>
</div>
<div class="navbar-bottom">
  <ul>
    <li>
    <div class="icon-item"><mat-icon> add </mat-icon></div>
    <span class="content-item">Tạo playlist mới</span>
  </li>
  </ul>
</div>
</div>
