<div class="detail-music">
  <div class="detail-music-left">
    <div class="music-header"></div>
    <div class="music-content">
      <div class="content-top">
        <div class="title">#zingchart Tuần 48, 2021</div>
        <div class="realse">Cập nhật: 06/12/2021</div>
        <div class="like">1K người yêu thích</div>
      </div>
      <div class="actions">
        <button class="btnPlay">
          <mat-icon>play_arrow</mat-icon>XEM TẤT CẢ
        </button>
        <div class="level">
          <div class="level-icon"><mat-icon>favorite_border</mat-icon></div>
          <div class="level-icon"><mat-icon>more_horiz</mat-icon></div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-music-right">
    <div class="music-lyrics">
      I'm tired of being what you want me to be Feeling so faithless, lost under
      the surface Don't know what you're expecting of me Put under the pressure
      of walking in your shoes Every step that I take is another mistake to you
      (Caught in the undertow, just caught in the undertow) I've become so numb
      I can't feel you there Become so tired So much more aware I'm becoming
      this All I want to do Is be more like me And be less like you Can't you
      see that you're smothering me Holding too tightly, afraid to lose control?
      'Cause everything that you thought I would be Has fallen apart right in
      front of you Every step that I take is another mistake to you (Caught in
      the undertow, just caught in the undertow) And every second I waste is
      more than I can take I've become so numb I can't feel you there Become so
      tired So much more aware I'm becoming this All I want to do Is be more
      like me And be less like you And I know I may end up failing too But I
      know You were just like me with someone disappointed in you I've become so
      numb I can't feel you there Become so tired So much more aware I'm
      becoming this All I want to do Is be more like me And be less like you
      I've become so numb I can't feel you there (I'm tired of being what you
      want me to be) I've become so numb I can't feel you there (I'm tired of
      being what you want me to be)
    </div>
  </div>
</div>
<!-- <div class="play-control">
  <div class="music-name">Là Ai Từ Bỏ, Là Ai Vô Tình - Hương Ly, Jombie</div>
  <div class="music-slide">01:54&nbsp;<input type="range" />&nbsp;03:37</div>
  <div class="music-control">
    <div class="control-icon"><mat-icon>shuffle</mat-icon></div>
    <div class="control-icon"><mat-icon>skip_previous</mat-icon></div>
    <div class="control-icon"><mat-icon>play_arrow</mat-icon></div>
    <div class="control-icon"><mat-icon>skip_next</mat-icon></div>
    <div class="control-icon"><mat-icon>repeat</mat-icon></div>
  </div>
</div> -->
