<div class="chartmp3">
  <div class="chartmp3-title">#zingchart</div>
  <div class="chartmp3-content">
    <div class="chartmp3-left">
      <div class="list-item">
        <div class="chartmp3-item">
          <div class="media-left">1</div>
          <div class="media-center">
            <div class="media-img">
              <img src="/./assets/img/anh2.jpg" alt="" />
              <mat-icon>play_arrow</mat-icon>
            </div>
            <div class="media-infor">
              <div class="infor-song">Sau này nếu có ai yêu ai</div>
              <div class="infor-singer">Tăng phúc, ngô kiến huy</div>
            </div>
          </div>
          <div class="media-right">
            <p>46%</p>
          </div>
        </div>
        <div class="chartmp3-item">
          <div class="media-left">1</div>
          <div class="media-center">
            <div class="media-img">
              <img src="/./assets/img/anh2.jpg" alt="" />
              <mat-icon>play_arrow</mat-icon>
            </div>
            <div class="media-infor">
              <div class="infor-song">Sau này nếu có ai yêu ai</div>
              <div class="infor-singer">Tăng phúc, ngô kiến huy</div>
            </div>
          </div>
          <div class="media-right">
            <p>46%</p>
          </div>
        </div>
        <div class="chartmp3-item">
          <div class="media-left">1</div>
          <div class="media-center">
            <div class="media-img">
              <img src="/./assets/img/anh2.jpg" alt="" />
              <mat-icon>play_arrow</mat-icon>
            </div>
            <div class="media-infor">
              <div class="infor-song">Sau này nếu có ai yêu ai</div>
              <div class="infor-singer">Tăng phúc, ngô kiến huy</div>
            </div>
          </div>
          <div class="media-right">
            <p>46%</p>
          </div>
        </div>
      </div>
      <div class="chartmp3-button">
        <button type="button">Xem thêm</button>
      </div>
    </div>
    <div class="chartmp3-right">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="width: 100%; height: 95%; display: block"
      ></highcharts-chart>
    </div>
  </div>
</div>
