.chartmp3{
  height: 400px;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.chartmp3-blur {
  background: url("https://zjs.zadn.vn/zmp3-desktop/releases/v1.4.17/static/media/bg-chart.fd766403.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
}
.chartmp3-chart {
  height: 400px;
  width: auto;
  background-image: linear-gradient(180deg, #740091, #2d1a4c);
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  opacity: 0.9;
}
.chartmp3-title {
  height: 60px;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.chartmp3-content {
  height: 340px;
  width: 100%;
  display: flex;
}
.chartmp3-left {
  width: 35%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.chartmp3-item {
  height: 80px;
  width: 100%;
  background-color: rgba($color: #ffff, $alpha: 0.1);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.chartmp3-item:not(:first-child) {
  margin-top: 10px;
}
.media-left {
  height: 60px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-img {
  position: relative;
}
.media-img mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.chartmp3-item:hover {
  background-color: rgba($color: #ffff, $alpha: 0.2);
}
.chartmp3-item:hover mat-icon {
  display: block;
}
.media-img,
.media-img img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}
.media-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}
.media-infor {
  padding-left: 10px;
}
.chartmp3-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.chartmp3-button button {
  height: auto;
  width: 120px;
  border-radius: 20px;
  background-color: unset;
  border: 1px solid white;
  color: white;
}
.chartmp3-right {
  width: 65%;
  height: 100%;
}
