/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 500;
    font-size: 14px
}
body{
    overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

path.highcharts-grid-line, path.highcharts-axis-line{
    stroke-dasharray: 2;
    opacity: 0.4;
}
path.highcharts-tick{
  display: none;
}
text:nth-child(even){
  display: none;
}
// rect.highcharts-background{
//   fill: #c662ef;
// }
// path.highcharts-graph{
//   stroke: red;
// }

